{% extends "core/dashboard/base_dashboard.html" %}
{% load static %}
{% block title %}
Patient Dashboard
{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/hospital/dashboard_patient.css' %}">
    <div class="department-tabs" role="tablist" aria-label="Departments">
        <button hx-get="{% url 'doctor_list' %}?department=all" hx-target="#doctor-cards" hx-swap="innerHTML" aria-selected="true" tabindex="0">All</button>
        {% for dept in departments %}
            <button
                hx-get="{% url 'doctor_list' %}?department={{ dept.name|urlencode }}"
                hx-target="#doctor-cards"
                hx-swap="innerHTML"
                aria-selected="false"
                tabindex="0"
            >{{ dept.name }}</button>
        {% endfor %}
    </div>
    <div id="doctor-cards">
        {% include "hospital/doctor_cards.html" with doctors=doctors %}
    </div>
    <div class="hospital-section">
        {% include "hospital/hospital_section.html" with hospital=hospital %}
    </div>
    <div class="contact-form">
        {% include "hospital/contact_form.html" %}
    </div>
    <div class="my-report" style="margin: 2rem 0; text-align: center;">
        <a href="/patients_management/my_report/" class="btn-secondary my-report-link">
            <span>View My Report</span>
        </a>
    </div>
{% endblock %}