.btn-container{
    position: absolute;
    top: 75%;
    left: 37%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn-secondary {
    background-color: var(--primary-light-blue);
    transition: background-color 0.3s ease;
    font-family: "Mulish", sans-serif;
    padding: 1.5rem 5rem;
    border-radius: 30px;
    margin: 0 3rem 0 0;
    cursor: pointer;
    font-size: 24px;
    border: none;
    color: var(--white);
} 
.btn-secondary:hover {
    background-color: var(--accent-blue);
}
.btn-secondary a {
    color: var(--white);
    display: block;
    width: 100%;
}
@media(max-width: 430px){
    .logo{
        top: 15%;
    }
    .btn-container{
        position: absolute;
        top: 25%;
        left: 20%;
        right: 0%;
    }
    .btn-secondary{
        padding: 0.5rem 2rem;
        margin: 0 3rem 0 0;
        font-size: 16px;
    }
}