nav {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    margin: 2% 0 0 0;
    position: absolute;
}

a {
    text-decoration: none;
    color: var(--white);
}

.menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 110px;
    height: 50px;
    cursor: pointer;
    background: none;
    border: none;
    padding: 1% 3%;
}

.menu-body {
    width: 100%;
    height: 20px; 
    background-color: var(--white); 
    border-radius: 0 0 10px 0px;
    transition: all 0.3s ease;
}
.menu-body-bot {
    width: 75%;
    height: 20px; 
    background-color: var(--white); 
    border-radius: 0 0 10px 0px; 
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }
    
    .btn-primary {
        display: none; 
    }
    
    .menu-toggle.active .menu-body {
        transform: rotate(45deg) translate(5px, 5px);
    }
    
    .menu-toggle.active .menu-body-bot {
        transform: rotate(-45deg) translate(7px, -7px);
    }
}