{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<nav>
    <a href="#" class="menu-toggle">
        <span class="menu-body"></span>
        <span class="menu-body-bot"></span>
    </a>
    <div class="nav-links">
        <button class="btn-primary">
            <a href="{% url 'signup' %}">SignUp</a>
        </button>
        {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn-primary">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}" class="btn-primary">Login</a>
        {% endif %}
    </div>
</nav>