{% extends "base.html" %}
{% block title %}Log In{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/core/registration/login.css' %}">
<div class="form-container">
    <h1>Log In</h1>
    <form method="post" action="{% url 'login' %}?next={% url 'dashboard'%}">
        {% csrf_token %}
        <div class="email-form">
            <label for="mail">Mail</label>
            <input type="text" id="mail" name="username" placeholder="Your mail address..." required>
        </div>

        <div class="password-form">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Your password..."required>
        </div>
        <!-- submit button -->
        <button type="submit" class="btn-primary"> Valid </button>
    </form>
</div>
{% endblock %}