{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/core/registration/signup.css' %}">
<div class="form-container">
    <h1>Sign Up</h1>
    <form method="post" action="{% url 'signup' %}">
        {% csrf_token %}
        <div class="name-form">
            <div>
                {{ form.name.label_tag }}
                {{ form.name }}
                {{ form.name.errors }}
            </div>
            <div>
                {{ form.surname.label_tag }}
                {{ form.surname }}
                {{ form.surname.errors }}
            </div>
        </div>
        <div class="email-form">
            {{ form.email.label_tag }}
            {{ form.email }}
            {{ form.email.errors }}
        </div>
        <div class="password-form">
            {{ form.password1.label_tag }}
            {{ form.password1 }}
            {{ form.password1.errors }}
        </div>
        <div class="password-form">
            {{ form.password2.label_tag }}
            {{ form.password2 }}
            {{ form.password2.errors }}
        </div>
        <input type="hidden" name="role" value="user">
        <button type="submit" class="btn-primary">Valid</button>
    </form>
</div>
{% endblock %}