{% extends "patient_management/base_patient.html" %}
{% load static %}
{% block title %}
Patient Dashboard
{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/hospital/dashboard_patient.css' %}">
    <!-- Patient profile picture -->
    <div class="patient-report-container">
        <img src="{{ patient.profile_picture.url }}" alt="{{ patient.user.name }}'s profile picture">
        <div class="modal-selector">
            <h2>{{ patient.user.name }} {{ patient.user.surname }}</h2>
            <p>{{ patient.age }} years old</p>
        </div>
        <div class="button-container">
            <button 
                hx-get="{% url 'patient_info_form' patient.patient_id %}" 
                hx-target="#selected-field" 
                hx-swap="innerHTML"
                class="modal-button"
            >Patient Info</button>
            <button 
                hx-get="{% url 'patient_medications_form' patient.patient_id %}" 
                hx-target="#selected-field" 
                hx-swap="innerHTML"
                class="modal-button"
            >Medications</button>
            <button 
                hx-get="{% url 'patient_surgeries_form' patient.patient_id %}" 
                hx-target="#selected-field" 
                hx-swap="innerHTML"
                class="modal-button"
            >Past Surgeries</button>
            <button 
                hx-get="{% url 'patient_social_history_form' patient.patient_id %}" 
                hx-target="#selected-field" 
                hx-swap="innerHTML"
                class="modal-button"
            >Social History</button>
        </div>

        <div id="selected-field">
            {% include "patient_management/partials/patient_info_form.html" with patient=patient %}
        </div>
    </div>
{% endblock %}